<% if signed_in? %>    
  <div class="container">
    <%= render 'shared/properties' %>
    <div class="main-box">
      <div class="details-box">
        <% if defined? @agent %>
          <%= render @agent %>
        <% elsif defined? @branch %>
          <%= render @branch %>
        <% elsif defined? @estate_agent %>
          <%= render @estate_agent %>
        <% end %>
      </div>
      <p>
      <iframe frameborder="0" width="100%" height="600" src="http://www.rightmove.co.uk/property-for-sale/property-27931962.html?premiumA=true&backListLink=%2Fproperty-for-sale%2Ffind.html%3FlocationIdentifier%3DUSERDEFINEDAREA%255E%257B%2522id%2522%253A1821557%257D%26sortType%3D1%26maxPrice%3D160000%26savedSearchId%3D10871423%26minBedrooms%3D2%26displayPropertyType%3Dhouses%26oldDisplayPropertyType%3Dhouses%26includeSSTC%3Dtrue%26_includeSSTC%3Don%26index%3D80&onetime_savedPropertyId=27931962#summary27931962"></iframe>    
    </div>
  </div>
<% else %>
  <div class="welcome">
    Welcome to the Ottor system
  </div>
<% end %>