<% if signed_in? %>    
  <div class="container center">
    <div class="main-box">
      <iframe frameborder="0" width="100%" height="600" src="http://www.rightmove.co.uk/property-for-sale"></iframe>    
    </div>
  </div>
<% else %>
  <div class="welcome">
    Welcome to the Ottor system
  </div>
<% end %>