<%= form_for(@sausage) do |f| %>
  <% if @sausage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sausage.errors.count, "error") %> prohibited this sausage from being saved:</h2>

      <ul>
      <% @sausage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
