/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px; }

#navbar {
  height: 40px;
  width: 100%;
  background-color: lightblue;
  border-bottom: 1px solid midnightblue; }

.right {
  text-align: right;
  float: right; }

.navbar-menus {
  display: inline-block; }
  .navbar-menus a {
    text-decoration: none; }
    .navbar-menus a:hover {
      background: #9cc2cf;
      color: gray; }
  .navbar-menus ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 0px 15px 0;
    list-style: none;
    text-decoration: none; }
    .navbar-menus ul li {
      display: inline-block;
      margin-right: -4px;
      position: relative;
      padding: 11px 10px;
      cursor: pointer;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      .navbar-menus ul li .separator {
        background: midnightblue;
        padding: 0.5px; }
      .navbar-menus ul li:hover {
        background: #9cc2cf;
        color: gray; }
        .navbar-menus ul li:hover ul {
          display: block;
          opacity: 2;
          visibility: visible;
          border: 1px solid midnightblue; }
      .navbar-menus ul li ul {
        padding: 0;
        position: absolute;
        top: 40px;
        left: 0;
        width: 150px;
        display: none;
        opacity: 0;
        visibility: hidden;
        -webkit-transiton: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        -transition: opacity 0.2s;
        z-index: 999; }
        .navbar-menus ul li ul li {
          font-weight: normal;
          padding: 5px;
          margin-right: 1px;
          background: white;
          color: midnightblue;
          display: block; }
          .navbar-menus ul li ul li:hover {
            background: white; }
          .navbar-menus ul li ul li a:hover {
            background: white;
            colour: #9cc2cf; }

.container {
  height: 100%;
  padding: 0px;
  margin: 0px; }

#left-nav {
  display: inline-block;
  float: left;
  height: 100%;
  width: 15%;
  border-right: solid 1px midnightblue; }
  #left-nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px; }
    #left-nav ul a {
      text-decoration: none;
      background: none; }
      #left-nav ul a:hover {
        background: none;
        color: black; }
    #left-nav ul li {
      padding: 10px;
      border-bottom: solid 1px #9cc2cf;
      background: -webkit-gradient(linear, right top, left top, from(snow), to(mintcream)); }
      #left-nav ul li:hover {
        background: -webkit-gradient(linear, left top, right top, from(snow), to(mintcream));
        colour: red; }

#main {
  display: inline;
  float: left;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 84%;
  vertical-align: top; }

#main-top {
  margin: 2px;
  padding: 0px;
  min-height: 34px; }

#main-bottom {
  height: 100%;
  width: 100%;
  border-top: solid 1px lightblue; }

#main-bottom-iframe {
  display: inline; }
  #main-bottom-iframe iframe {
    width: 60%;
    height: 600px; }

#main-bottom-right {
  height: 100%;
  display: inline-block;
  float: right;
  width: 35%;
  vertical-align: top;
  border-left: solid 1px lightblue;
  border-right: solid 1px lightblue; }
  #main-bottom-right table {
    width: 100%;
    text-align: left;
    background-color: mintcream;
    border-bottom: solid 1px lightblue; }
  #main-bottom-right ul {
    list-style: none;
    padding: 0px;
    margin: 0px; }
    #main-bottom-right ul a {
      text-decoration: none;
      background: none; }
      #main-bottom-right ul a:hover {
        background: none;
        color: black; }
    #main-bottom-right ul li {
      padding: 10px;
      border-bottom: solid 1px #9cc2cf;
      background: -webkit-gradient(linear, right top, left top, from(snow), to(mintcream)); }
      #main-bottom-right ul li:hover {
        background: -webkit-gradient(linear, left top, right top, from(snow), to(mintcream));
        colour: red; }

#main-top-details {
  padding: 5px;
  border-radius: 1px;
  -moz-border-radius: 1px; }
  #main-top-details table {
    text-align: left;
    border: 1px solid lightblue;
    -webkit-border-radius: 5px;
    width: 100%; }
    #main-top-details table th {
      font-weight: normal;
      border-bottom: 1px solid lightblue; }
    #main-top-details table td {
      width: 30%; }
      #main-top-details table td:first-child {
        width: 40%; }

.welcome-inner {
  border: solid 1px black;
  position: fixed;
  left: 50%;
  top: 100px;
  background-color: mintcream;
  height: 300px;
  width: 600px;
  margin-left: -300px;
  text-align: center; }
  .welcome-inner form {
    padding: 50px; }
  .welcome-inner table {
    margin-left: auto;
    margin-right: auto;
    width: 60%; }

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: mintcream;
  padding: 5px 10px;
  border-top: 1px solid lightblue; }
  footer a {
    color: mintcream; }
  footer small {
    float: left; }
  footer ul {
    float: right;
    list-style: none; }
    footer ul li {
      float: left;
      margin-right: 20px; }

.debug_dump {
  position: fixed;
  left: 50%;
  bottom: 0px;
  background: mintcream;
  padding: 5px;
  border: 1px dotted lightblue;
  width: 600px;
  margin-top: 45px;
  margin-left: -300px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }
  a:visited {
    color: #666; }
  a:hover {
    color: #fff;
    background-color: #000; }

div.field, div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  #error_explanation ul li {
    font-size: 12px;
    list-style: square; }
