/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

html {
  overflow-y: scroll; }

body {
  margin: 0px;
  padding: 0px;
  width: 100%; }

section {
  overflow: auto; }

textarea {
  resize: vertical; }

.gravatar {
  float: left;
  margin-right: 10px; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.center {
  text-align: center; }

.caret {
  border-color: black transparent transparent transparent;
  border-width: 4px;
  border-style: solid;
  content: "";
  display: inline-block; }

.navbar {
  background-color: lightblue;
  width: 100%;
  height: 55px;
  position: relative;
  z-index: 1000; }

.navbar-inner {
  list-style: none;
  display: inline-block; }
  .navbar-inner li {
    float: left;
    margin-right: 10px;
    position: relative;
    padding: 5px;
    padding-right: 10px; }
    .navbar-inner li:hover ul {
      left: -40px;
      top: 25px; }
  .navbar-inner a {
    display: block;
    color: black;
    background: lightblue;
    text-decoration: none; }
    .navbar-inner a:hover {
      color: honeydew;
      background: lightblue;
      text-decoration: underline; }
  .navbar-inner ul {
    list-style: none;
    position: absolute;
    left: -9999px; }
    .navbar-inner ul li {
      float: none;
      -webkit-box-shadow: -2px -2px 2px -2px lightblue;
      /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
      box-shadow: 0px 0px 3px 0px lightblue;
      border-top: 1px solid lightblue;
      padding: 0px; }
      .navbar-inner ul li:first-child {
        -webkit-border-top-radius: 5px; }
      .navbar-inner ul li:last-child {
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px; }
    .navbar-inner ul a {
      -webkit-border-radius: 5px;
      white-space: nowrap;
      padding: 5px;
      padding-right: 10px;
      background-color: mintcream; }
      .navbar-inner ul a:hover {
        color: black;
        background: honeydew;
        text-decoration: underline; }

.container {
  background-color: lightgrey;
  position: relative;
  width: 100%;
  padding: 0px; }

.welcome {
  background-color: white; }

.properties-nav {
  display: inline-block;
  vertical-align: top;
  background-color: white;
  margin: 10px 5px 10px 10px;
  width: 15%;
  -webkit-box-shadow: -2px -2px 2px -2px lightblue;
  /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
  box-shadow: 0px 0px 3px 0px lightblue;
  -webkit-border-radius: 5px; }
  .properties-nav ul {
    list-style: none;
    padding: 10px; }
    .properties-nav ul li {
      padding: 5px 10px;
      border-top: 1px solid lightblue; }
      .properties-nav ul li:first-child {
        border-top: 0px; }

.details-box {
  display: inline-block;
  background-color: white;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-shadow: -2px -2px 2px -2px lightblue;
  /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
  box-shadow: 0px 0px 3px 0px lightblue;
  -webkit-border-radius: 5px; }
  .details-box table {
    padding: 0px;
    text-align: left;
    border-collapse: collapse;
    width: 95%; }
    .details-box table tr:first-child {
      background-color: midnightblue;
      color: mintcream; }
    .details-box table td {
      width: 30%; }
      .details-box table td:first-child {
        width: 40%; }

.main-box {
  position: relative;
  display: inline-block;
  margin: 10px 0px 10px 5px;
  width: 81%; }

.details {
  padding: 5px; }

.dark {
  background-color: lightblue; }

.light {
  background-color: mintcream; }
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }
  a:visited {
    color: #666; }
  a:hover {
    color: #fff;
    background-color: #000; }

div.field, div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  #error_explanation ul li {
    font-size: 12px;
    list-style: square; }
