<% for i in 1..property.sstc_count %>
  <span title="Sold <%= property.sstc_count %> <%= pluralize("time", property.sstc_count) %>" class="sstc-badge <%= "available" if !property.sstc %> sstc<%=i%>"></span>                      
<% end %>
