<a href="<%= status_path property.status.id %>" title="<%= property.status.description %>">
<div id="status-icon-<%= property.id %>" class="status-icon" style="background-color: #<%= property.status.colour %>"></div>
</a>