<% provide(:title, 'All estate agents') %>
<h1>All Estate Agents</h1>

<ul class="users">
  <% @estate_agents.each do |estate_agent| %>
    <li>
      <%= link_to estate_agent.name, estate_agent %>
    </li>
  <% end %>
</ul>