<% provide(:title, @estate_agent.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @estate_agent.name %>&nbsp;
        <%= link_to "Add banch", new_estate_agent_branch_path(estate_agent_id: @estate_agent.id), class: "btn btn-small" %>
      </h1>      
    </section>    
    <section>
      <h2>Branches (<%= @estate_agent.branches.count %>)</h2>
      <% if @estate_agent.branches.any? %>      
        <ol class="agents">
          <%= render @estate_agent.branches %>
        </ol>
      <% end %>
    </section>    
  </aside>
</div>