<% provide(:title, current_user.name + ' Alerts') %>
<div id="main">
  <div id="container">     
    <div id="thin-top">        
      <div id="accordion" class="diary-header">         
        <h3>New Alerts</h3>
        <div class="alerts">        
          <ul>
            <% @new_alerts.each do |alert| %>
              <%= render alert %>
            <% end %>   
          </ul>
        </div>        
        <h3>Read Alerts</h3>
        <div class="alerts">        
          <ul>
            <% @read_alerts.each do |alert| %>
              <%= render alert %>
            <% end %>   
          </ul>
        </div>      
      </div>      
    </div>
  </div>  
</div>
<script type="text/javascript">
$( ".read-alert" ).change(function() {
  updateAlert(this.id, this.checked);
});
$( ".delete-alert" ).click(function() {
  deleteAlert(this.id);
});
$( "#accordion" ).accordion({
  collapsible: true,
  heightStyle: "content",
  active: 0
});
</script>