$bg1:lightgray;
$bg2: lightblue;
$lightline: lightblue;
$darkline: midnightblue;
$highlight-colour: gray;
$highlight-bg: #9CC2CF;
$main-bg: white;
$colour: midnightblue;
$well-colour: mintcream;
$dark-well-colour: lightblue;
$note-header-bg: #E3E3E3;
$manual-colour: $colour;
$manual-bg: $well-colour;
$status_colour: $bg2;
$status-bg: $well-colour;
$sstc-colour: $colour;
$sstc-bg: palegreen;
$price-colour: $colour;
$price-bg: lightpink;
$auto-colour: $bg1;
$auto-bg: $well-colour;
$action-colour: $bg1;
$action-bg: $well-colour;
$viewing-colour: darkcyan;
$viewing-bg: $well-colour;
$offer-colour: $colour;
$offer-bg: lightyellow;

h1 {
  font-size: 14px;
  font-weight: bold;
}

h2 {
  font-size: 14px;
}

h3 {
  font-size: 12px;
}

th {
  font-size: 12px; 
  font-weight: bold;
}

div {
  font-size: 12px; 
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.property-header {
  font-size: 14px; 
  font-weight: bold; 
}

html,body { 
  height: 100%; 
  margin: 0px; 
  padding: 0px;   
  font-size: 12px;
}

a {
  text-decoration:none;
  &:hover {
    text-decoration:underline;
    color: $colour;
    background: $well-colour; 
  }
}

.dark {
  background: $dark-well-colour;  
}

.light {
  background: $well-colour; 
}

.menu-right {
  text-align: right;    
  float:right; 
}

.heading {
  text-align: center;
  background: $bg2;
}

.alert {
  padding: 5px;
}

.alert-error {
  color: red;
  text-align: center;
}

.alert-success {
  color: green;
  text-align: center;
}

#navbar {
  height: 40px;
  width:100%;
  background-color: $bg2;
  border-bottom: 1px solid $darkline;  
}

.caret {
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-top: 6px solid black;
  display: inline-block;
  height: 0;
  opacity: 0.3;
  vertical-align: middle;
  width: 0;
}

.navbar-menus {
  display:inline-block;
  a {
    text-decoration:none;
    &:hover {
      background: $highlight-bg;
      color: $highlight-colour;
    }
  }
  ul {
    .selected {
      background: $highlight-bg;                        
    }
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 0px 15px 0;
    list-style: none;
    text-decoration:none;

    li {
      display: inline-block;
      margin-right: -4px;
      position: relative;
      padding: 11px 10px;
      cursor: pointer;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;                  
      .separator {
        background: $darkline; 
        padding: 0.5px;
      }
      &:hover {
        background: $highlight-bg;        
        color: $highlight-colour;
        ul {
          display: block;
          opacity: 2;
          visibility: visible;
          border: 1px solid $darkline;
        }
      }
      ul {
        padding: 0;
        position: absolute;
        top: 40px;
        left: 0;
        width: 150px;
        display: none;
        opacity: 0;
        visibility: hidden;        
        -webkit-transiton: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        -transition: opacity 0.2s;
        z-index: 999;        

        li { 
          font-weight: normal;
          padding: 5px;
          margin-right:1px;
          background: $main-bg;
          color: $colour;
          display: block; 
          &:hover {           
            background: $main-bg;          
          }
          a {
            &:hover {
              background: $main-bg;
              colour: $highlight-bg;
            }
          }
        }
      }      
    }
  }  
}

.rounded {
  border: 1px solid $darkline;
  border-radius: 5px;
  -moz-border-radius: 5px;       
}

.container {
  display: table;
  height: 100%;
  width:100%;
  padding:0px;
  margin:0px;  
}

.left-nav-table {
  width: 100%;    
}

#left-nav {
  display: table-cell;
  height: 100%;  
  width:15%;
  border-right: solid 1px $darkline;  
  ul {  
    list-style: none;
    padding: 0px;
    margin: 0px;    
    a {
      text-decoration: none;
      background: none;
      &:hover {
        background: none;
        color: black;
      }
    }
    li {
      padding: 5px 5px 0px 5px;
      border-bottom: solid 1px $highlight-bg;      
      &:hover {
        background: -webkit-gradient(linear, right top, left top, from($well-colour), to($dark-well-colour));      
        cursor: pointer;        
      }
    }    
  }
}

.tall {
  vertical-align: top;  
}

.status-icon {
  position: relative;
  float: right;
  top: 5px;
  border: solid 1px $highlight-bg;      
  margin-right: 3px;
  padding: 3px;
  width: 5px;
  height: 5px; 
  border-radius: 6px;
  -moz-border-radius: 6px;       
}

#main  {
  display: table-cell;
  margin:0px;
  padding:0px;
  height: 100%;
  background: $bg1;
}

#thin-top {  
  margin: 5px auto;
  padding:0px;
  width:50%;      
  border: solid 1px $lightline;
  background: $main-bg;
  ul {
    padding: 0px;
    list-style: none;
  }
}

#week-ahead {
  padding:0px;
  background: $main-bg;
  display: none;
  table {    
    width: 100%;
    th {
      padding: 5px;
      border-right: 1px solid $lightline;
      border-bottom: 1px solid $lightline;
      background: $well-colour;    
      width: 14%;
      &:last-child {
        border-right: none;
      }
    }    
    td {      
      border-right: 1px solid $lightline;
      border-bottom: 1px solid $lightline;
      vertical-align: top;
      text-align: right;
      padding: 5px;
      &:last-child {
        border-right: none;
      }      
    }
  }
  ul {
    list-style:none;
    padding: 0px;
    margin: 0px;
    span {
      float:left;
      width: 90%;
      text-align: left;
    }
  }
  a {
    color: inherit;
  }
  a:hover{
    color: inherit;
    background: inherit;
  }
}

.change_user_prefs {
  text-align: right;
  font-size: 12px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 0px;
  input {
    background: inherit;
    width: 15px;
    text-align: right;
    font-size: 12px;
  }    
}

#main-top {  
  margin: 5px auto;
  padding: 0px;
  width:98%;      
  border: solid 1px $lightline;
  background: $main-bg;
}

#main-update {  
  margin: 5px auto;
  padding: 0px;
  width:98%;      
  border: solid 1px $lightline;
  background: $main-bg;
  display:none;
}

#main-bottom {  
  margin: 5px auto;
  padding:0px;
  height: 100%;  
  width: 98%;
  border: solid 1px $lightline;
  background: $main-bg;
}

#main-bottom-iframe {
  width: 100%;
  iframe {
    width: 100%;
    min-width: 650px;
    height: 600px;    
    border:0px;
  }
}

#main-top-details {
  margin: 10px auto;
  width: 98%;
  padding:5px;
  border-radius: 1px;
  -moz-border-radius: 1px;
  table {
    padding: 2px;    
    margin: 0px;    
    width: 100%;
    td {
      &:last-child {
        text-align: right;
      }
    }
  }
}

#update-details {
  margin: 10px 10px;
  padding:5px;
  table {
    padding: 2px;    
    margin: 0px auto;    
    width: 50%;
    td {
      &:first-child {
        width: 100px;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}

#accordion {
  margin: 10px;
  .ui-accordion-header.ui-state-default{
    font-size: 12px;
  }
  .ui-accordion-header.ui-state-active{
    background: $bg1;
  }
  .ui-accordion-header.notes.ui-state-default{
    background: none;
    background-image: none;
  }
  .ui-accordion-header.overdue.ui-state-default{
    color: red;
    background-image: none;
  }
  .ui-accordion-header.future.ui-state-default{
    color: $lightline;
  }
  .ui-accordion-content { 
    padding: 0px;
  }
}

.annoying-padding {  
  .ui-accordion-content.accordian-notes {
    padding: 0px;
  }
}

.accordian-notes {
  .ui-accordion-header { 
    .ui-icon {
      background: none;
    }
  }
  .ui-accordion-header.notes.ui-state-default{
    background:none;
  }
  .ui-accordion-header.ui-state-default {
    background:none;
    border: none;
  }
  .ui-accordion-header.ui-state-active {
    background:pink;
    border: none;
  }
  .ui-accordion-content.accordian-notes { 
    border: none;      
  }
}

#overview-accordion {
  margin: 10px;
  .ui-accordion-header.ui-state-active{
      color: $colour;
      background: $bg1;
      background-image: none;
   }
  .ui-accordion-header.ui-state-default{
    font-size: 12px;
  }
  .viewings {
    color: $viewing-colour;
  }
}

.toolitem {
  display: inline;
  vertical-align: bottom;
  cursor: pointer;  
  font-weight: bold;  
  outline: 1px $main-bg;
  border-radius: 5px;
  border-left: 1px solid $main-bg;
  border-top: 1px solid $main-bg;
  border-bottom: 2px solid $main-bg;
  border-right: 2px solid $main-bg;
  &:hover {
    border-left: 1px solid $lightline;
    border-top: 1px solid $lightline;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
  }
}
.icon {
  height: 24px;
  width: 24px;
}

.txt {
  padding: 5px 5px;
  vertical-align:middle;
}

.change_call_date {
  height: 28px;
  width: 28px;
}

.dialog {
  display:none;  
  input {
    margin: 5px 0px;
  }
}

.settings {
  padding: 5px;      
  h3 {
    display:none;
  }  
}

.settings-panel {
  margin: 10px auto;
  width: 70%;
  border: none;
  display: table;
  text-align: center;
  table {
    padding: 2px;    
    margin: 10px auto;
    width: 70%;    
    th {
      &:last-child {
        text-align: right;
      }
    }
    td {
      padding:5px;
      border-bottom: 1px solid $lightline;
      &:first-child {
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
    }
    div {
      vertical-align: middle;
    }
  }  
}

.diary-header {
  padding: 5px;      
  h3 {
    display:none;
  }
}

.diary-panel {
  text-align: left;      
  padding: 0px;
  margin: 0px;
  display:none;
}

.annoying-padding {
  display:block;
}

.diary {  
  ul {
    list-style: none;
    margin: 0px;
    padding: 5px;
    li {
      margin: 5px 1px;
      padding: 5px;
      border-radius: 2px;
      border: 1px solid $lightline;
      background: $well-colour; 
      span {
        float: right;
        padding: 3px 2px 0px  2px;
        &:hover {
          border: 1px solid $bg1;
          border-radius: 3px;
        }
      }
    }
  }  
  .manual {
    color: $manual-colour;
    background: $manual-bg;
  }
  .sstc {
    color: $sstc-colour;
    background: $sstc-bg;
  }
  .auto {
    color: $auto-colour;
    background: $auto-bg;    
  }
  .status {
    color: $status-colour;
    background: $status-bg;
  }
  .price {
    color: $price-colour;
    background: $price-bg;
  }
  .viewing-alert {
    color: $viewing-colour;
  }
  .viewing {
    color: $viewing-colour;
    background: $viewing-bg;
  }
  .offer {
    color: $offer-colour;
    background: $offer-bg;
  }
  a:hover{
    color: inherit;
    background: inherit;
  }
}

.diary-details {
  display: table;
  width: 100%;
  padding: 0px;
  margin: 0px;    
  h2 {
    height: 15px;
  }
  .diary-left {
    padding-left: 10px;
    display:table-cell;
    width:30%;    
    vertical-align: top;
  }
  .diary-middle {
    padding: 10px;
  }
  .diary-right {
    padding-top: 5px;
    padding-right: 10px;
    display:table-cell;
    text-align: right;
    vertical-align: top;
  }
}

.diary-notes {
  margin: 5px;
  margin-top: 0px;
  border-bottom: 2px solid $bg2;
}

.stats-table {
  margin: 0;
  width: 100%;  
  th {
    padding:3px 5px;
    border-bottom:1px solid $bg2;      
    background: $well-colour;    
  }
  td {
    padding: 2px 5px;
    width: 20%;
    text-align:center;
    border-bottom:1px solid $bg2;      
    border-right:1px solid $bg2;      
    &:first-child {
      width: 20%;      
    }
    a {
      &:hover {
        color: $colour;
        background: inherit; 
      }
    }      
  }
  .left {
    text-align:left;
  }
  .right {
    text-align:right;
  }
}

.welcome-inner {
  position: fixed;
  left: 50%;
  top:100px;
  color: $bg1;
  background-color: $main-bg;
  height: 300px;  
  width: 600px;
  margin-left: -300px;
  text-align: center;
  form {
    padding:50px;        
  }
  table {
    margin-left: auto;
    margin-right: auto;
    width:60%;
  }
}

footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background: $well-colour;
  padding:5px 10px;
  border-top: 1px solid $bg2;

  a {
    color: $well-colour;
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-right: 20px;      
    }
  }
}

.debug_dump {
  position:fixed;
  left:50%;
  bottom:0px;
  
  background: $well-colour;
  padding:5px;
  border: 1px dotted $bg2;

  width: 600px;
  margin-top: 45px;
  margin-left: -300px;
  @include box_sizing;
}

.central {
  width: 100%;
  display:inline;
  text-align: center;
  div {    
    margin: 20px auto;
    width:600px;    
    border: 1px solid $lightline;
    .heading {
      margin-top: 0px;
      padding:2px;
      background: $bg2;
      text-align:center;
    }
    ul {
      list-style: none;
      text-decoration:none;
      padding:0 5px 5px 5px;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
      li {  
        display: table;      
        padding:5px;
        div {
          display: table-cell;      
          border: none;
          min-width:100px;
          &:first-child {
            text-align: left;
          }
          text-align: center;
        }
      }
    }
  }
}