$bg1:lightgray;
$bg2: lightblue;
$lightline: lightblue;
$darkline: midnightblue;
$highlight-colour: gray;
$highlight-bg: #9CC2CF;
$main-bg: white;
$colour: midnightblue;
$well-colour: mintcream;
$dark-well-colour: lightblue;
$note-header-bg: #E3E3E3;
$manual-colour: $colour;
$manual-bg: $well-colour;
$status_colour: $bg2;
$status-bg: $well-colour;
$sstc-colour: $colour;
$sstc-bg: palegreen;
$price-colour: $colour;
$price-bg: lightpink;
$auto-colour: $bg1;
$auto-bg: $well-colour;
$action-colour: $bg1;
$action-bg: $well-colour;
$viewing-colour: maroon;
$viewing-bg: $well-colour;
$offer-colour: $colour;
$offer-bg: lightyellow;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,body { 
  height: 100%; 
  margin: 0px; 
  padding: 0px; 
}

a {
  text-decoration:none;
  &:hover {
    text-decoration:underline;
    color: $colour;
    background: $well-colour; 
  }
}

.dark {
  background: $dark-well-colour;  
}

.light {
  background: $well-colour; 
}

.right {
  text-align: right;    
  float:right; 
}

.heading {
  text-align: center;
  background: $bg2;
}

.alert-error {
  color: red;
  text-align: center;
}

.alert-success {
  color: green;
  text-align: center;
}

#navbar {
  height: 40px;
  width:100%;
  background-color: $bg2;
  border-bottom: 1px solid $darkline;  
}

.navbar-menus {
  display:inline-block;
  a {
    text-decoration:none;
    &:hover {
      background: $highlight-bg;
      color: $highlight-colour;
    }
  }
  ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 0px 15px 0;
    list-style: none;
    text-decoration:none;

    li {
      display: inline-block;
      margin-right: -4px;
      position: relative;
      padding: 11px 10px;
      cursor: pointer;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;                  

      .separator {
        background: $darkline; 
        padding: 0.5px;
      }

      &:hover {
        background: $highlight-bg;
        color: $highlight-colour;
        ul {
          display: block;
          opacity: 2;
          visibility: visible;
          border: 1px solid $darkline;
        }
      }

      ul {
        padding: 0;
        position: absolute;
        top: 40px;
        left: 0;
        width: 150px;
        display: none;
        opacity: 0;
        visibility: hidden;        
        -webkit-transiton: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        -transition: opacity 0.2s;
        z-index: 999;        

        li { 
          font-weight: normal;
          padding: 5px;
          margin-right:1px;
          background: $main-bg;
          color: $colour;
          display: block; 
          &:hover {           
            background: $main-bg;          
          }
          a {
            &:hover {
              background: $main-bg;
              colour: $highlight-bg;
            }
          }
        }
      }      
    }
  }
}

.rounded {
  border: 1px solid $darkline;
  border-radius: 5px;
  -moz-border-radius: 5px;       
}

.container {
  display: table;
  height: 100%;
  width:100%;
  padding:0px;
  margin:0px;  
}

.left-nav-table {
  width: 100%;
  outline: 1px solid $well-colour;    
}

#left-nav {
  display: table-cell;
  height: 100%;  
  width:15%;
  border-right: solid 1px $darkline;  
  ul {  
    list-style: none;
    padding: 0px;
    margin: 0px;
    a {
      text-decoration: none;
      background: none;
      &:hover {
        background: none;
        color: black;
      }
    }
    li {
      padding: 2px;
      border-bottom: solid 1px $highlight-bg;      
      &:hover {
        background: -webkit-gradient(linear, right top, left top, from($well-colour), to($dark-well-colour));      
        cursor: pointer;        
      }
    }    
  }
}

.sstc {
  background-image:url('sstc.png');
  background-size: contain;
  background-repeat:no-repeat;
}

.tall {
  vertical-align: top;  
}

.status-icon {
  position: relative;
  float: right;
  top: 0px;
  border: solid 1px $highlight-bg;      
  padding: 2px;
  width: 5px;
  height: 5px; 
  border-radius: 5px;
  -moz-border-radius: 5px;       
}

#main  {
  display: table-cell;
  margin:0px;
  padding:0px;
  height: 100%;
  background: $bg1;
}

#main-top {  
  margin: 5px auto;
  padding:0px;
  width:98%;      
  border: solid 1px $lightline;
  background: $main-bg;
}

#main-bottom {  
  margin: 5px auto;
  padding:0px;
  height: 100%;  
  width: 98%;
  border: solid 1px $lightline;
  background: $main-bg;
}

#main-bottom-iframe {
  width: 100%;
  iframe {
    width: 100%;
    min-width: 650px;
    height: 600px;    
    border:0px;
  }
}

#main-top-details {
  margin: 10px auto;
  width: 98%;
  padding:5px;
  border-radius: 1px;
  -moz-border-radius: 1px;
  display: table;
  div {
    display: table-cell;
    &:last-child {
      text-align: right;
    }
  }  
  table {
    padding: 2px;    
    margin: 0px;    
    width: 100%;
    td {
      &:last-child {
        text-align: right;
      }
    }
  }
}

.toolitem {
  height: 28px;
  width: 28px;
  vertical-align: bottom;
  cursor: pointer;
  outline: 1px $main-bg;
  border-radius: 5px;
  border-left: 1px solid $main-bg;
  border-top: 1px solid $main-bg;
  border-bottom: 2px solid $main-bg;
  border-right: 2px solid $main-bg;
  &:hover {
    border-left: 1px solid $lightline;
    border-top: 1px solid $lightline;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
  }
}

.dialog {
  display:none;  
}

#accordion .ui-accordion-content { 
  padding: 0; 
}

#accordion .ui-accordion-header { 
  background: $bg1;  
}

#accordion .ui-accordion-content.accordian-notes { 
  border: none;
  display:none;
}

#accordion .ui-accordion-header.accordian-notes { 
  border: 0px;  
  padding: 2px 0px;
  background: $main-bg; 
  text-align: right;
  text-decoration: underline;
  .ui-icon {
    background: none;
  }
}

#accordion .ui-accordion-content.accordian-notes { 
  border: 0;  
}

.diary-header {
  padding: 5px;      
  h3 {
    display:none;
  }
}

.diary-panel {
  text-align: left;      
  padding: 0px;
  margin: 0px;
  display:none;
}

.diary {
  padding: 0px;
  margin: 0px;
  table {
    padding: 10px 0px;    
    margin: 5px auto;    
    width: 98%;
    tr:last-child {
      height:2px;    
      background: $bg2; 
    }
  }
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    li {
      margin: 5px 1px;
      padding: 5px;
      border-radius: 2px;
      border: 1px solid $lightline;
      background: $well-colour; 
      span {
        float: right;
        padding: 3px 2px 0px  2px;
        &:hover {
          border: 1px solid $bg1;
          border-radius: 3px;
        }
      }
    }
  }  
  .manual {
    color: $manual-colour;
    background: $manual-bg;
  }
  .sstc {
    color: $sstc-colour;
    background: $sstc-bg;
  }
  .auto {
    color: $auto-colour;
    background: $auto-bg;    
  }
  .status {
    color: $status-colour;
    background: $status-bg;
  }
  .price {
    color: $price-colour;
    background: $price-bg;
  }
  .viewing {
    color: $viewing-colour;
    background: $viewing-bg;
  }
  .offer {
    color: $offer-colour;
    background: $offer-bg;
  }
}

.stats-table {
  margin: 10px auto;
  text-align: left;      
  border: 1px solid $bg2;
  -webkit-border-radius: 5px;
  width: 98%;
  th {
    font-weight: normal;
    border-bottom:1px solid $bg2;      
    background: $highlight-bg;    
  }
  td {
    width: 20%;
    &:first-child {
      width: 20%;
    }
    a {
      &:hover {
        color: $colour;
        background: inherit; 
      }
    }      
  }
}

.welcome-inner {
  border: solid 1px $darkline;
  position: fixed;
  left: 50%;
  top:100px;
  background-color: $well-colour;
  height: 300px;  
  width: 600px;
  margin-left: -300px;
  text-align: center;
  form {
    padding:50px;        
  }
  table {
    margin-left: auto;
    margin-right: auto;
    width:60%;
  }
}

footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background: $well-colour;
  padding:5px 10px;
  border-top: 1px solid $bg2;

  a {
    color: $well-colour;
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-right: 20px;      
    }
  }
}

.debug_dump {
  position:fixed;
  left:50%;
  bottom:0px;
  
  background: $well-colour;
  padding:5px;
  border: 1px dotted $bg2;

  width: 600px;
  margin-top: 45px;
  margin-left: -300px;
  @include box_sizing;
}

.central {
  width: 100%;
  display:inline;
  text-align: center;
  div {    
    margin: 20px auto;
    width:600px;    
    border: 1px solid $lightline;
    .heading {
      margin-top: 0px;
      padding:2px;
      background: $bg2;
      text-align:center;
    }
    ul {
      list-style: none;
      text-decoration:none;
      padding:0 5px 5px 5px;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
      li {  
        display: table;      
        padding:5px;
        div {
          display: table-cell;      
          border: none;
          min-width:100px;
          &:first-child {
            text-align: left;
          }
          text-align: center;
        }
      }
    }
  }
}