$bg1:lightgray;
$bg2: lightblue;
$lightline: lightblue;
$darkline: midnightblue;
$highlight-colour: gray;
$highlight-bg: #9CC2CF;
$dropdown-bg: white;
$colour: midnightblue;
$well-colour: mintcream;
$dark-well-colour: snow;

input {
  font-size: 12px;
  width: 120px;
  border: none;
  cursor: pointer;
}

textarea {
  font-size: 12px;
  border: none; 
  width: 98%;
  cursor: pointer;
}

.new-note-agent {
  width: 100%;
  border: 1px solid $lightline;
}

.new-note {
  width: 100%;
  height: 70%;
  border: 1px solid $lightline;
}

.new-note-short {
  width: 100%;
  height: 50px;
  border: 1px solid $lightline;  
}

.hours {
  width: 40px;
  text-align: right;
}

.minutes {
  width: 40px;
}

.signin-form {
  text-align: center;
  table {
    margin: 20px auto;
    width:50%;
    text-align: left;
  }
}

.signin-input {
  border: 1px solid $lightline;
}

.settings-input {
  width: 150px;
}

.datepicker {
  width: 200px;
  height:28px;
  text-align: right;
}

select {
    padding:5px;
    margin: 0;
    width: 100px;
    height:28px;
    border-radius:4px;
    -webkit-box-shadow: 
        0 0px 0 #ccc,
        0 0px #fff inset;
    background: url('http://i45.tinypic.com/309nb74.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url('http://i45.tinypic.com/309nb74.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
    color:black;
    border:1px solid $bg1;
    outline:none;
    display: inline-block;
    -webkit-appearance:none; 
    cursor:pointer;
}