$bg1:lightgray;
$bg2: lightblue;
$lightline: lightblue;
$darkline: midnightblue;
$highlight-colour: gray;
$highlight-bg: #9CC2CF;
$dropdown-bg: white;
$colour: midnightblue;
$well-colour: mintcream;
$dark-well-colour: snow;

input {
  font-size: 12px;
  width: 25%;
  border: none;
  cursor: pointer;
}

textarea {
  font-size: 12px;
  border: none; 
  width: 95%;
  cursor: pointer;
}

.settings-form {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;

  input {
    width: 150px;
    border: 1px solid $darkline;
  }
}