<footer class="footer">
  <small>
    <a href="http://localhost:3000/">Otto</a>
    by Paul Cobley
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://localhost:3000/">News</a></li>
    </ul>
  </nav>
</footer>