<footer class="footer">
  <small>
    <a href="http://localhost:3000/">Ottor</a>
    by Paul Cobley
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   '#' %></li>
    </ul>
  </nav>
</footer>